/* === README ===
	Updated: 2022-04-03 (version: 0.0.5)
	Author: Faiz Khuzaimah (@faizkhuzaimah)
	
	What is this snippet for?
	- to allow Obsidian users to change the layout with preset css by just specifying
	  the cssClass in the frontmatter (YAML) or naming the Callout block
	- available cssClass
		- cssClass: two-column-list
		- cssClass: two-column-list-block
		- cssClass: three-column-list
		- cssClass: three-column-list-block
	- available Callout format
		- [!two-column]
		- [!three-column]
		- [!blank-container]
*/

/* === Multi Column "DIV"'s Using Callout === */
	/* - Main multi-column snippet using Callout */
	div[data-callout="two-column"].callout > div.callout-content,
	div[data-callout="three-column"].callout > div.callout-content { display: grid !important; grid-column-gap:1rem; grid-row-gap:0; grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); }
	
	/* need a fixed way to limit to only two or three column */
	div[data-callout="three-column"].callout > div.callout-content { grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); }
	div[data-callout="two-column"].callout > div.callout-content { grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); }

	div[data-callout="two-column"].callout > div.callout-content .callout,
	div[data-callout="three-column"].callout > div.callout-content .callout { margin-block: 0.5rem; }
	
	/* this is a workaround, need to figure out how to solve div height issue */
	div[data-callout="two-column"].callout > div.callout-content .callout-content,
	div[data-callout="three-column"].callout > div.callout-content .callout-content { border: unset; }

	div[data-callout="two-column"].callout,
	div[data-callout="three-column"].callout { background: unset; border: unset; margin: unset; padding: unset; }
	div[data-callout="two-column"].callout > div.callout-title,
	div[data-callout="three-column"].callout > div.callout-title { display: none; }

	/* - Blank Container "DIV"'s - can be used with Main Multi-Column layout above */
	div[data-callout="blank-container"].callout,
	div[data-callout="blank-container"].callout > div.callout-content { border: unset; padding-inline: 0.7em; padding-top: 0; }
	div[data-callout="blank-container"].callout > div.callout-title { display: none; }


/* === Multi Column Lists === */

	/* - xx-column-list for first level only list, but apply anywhere */
	/* - xx-column-list-block apply at block level - but require JV's Markdown Attributes plugin */
	
	@media (min-width: 400pt){
		.two-column-list div > ul,
		.two-column-list-block {columns: 2 !important;}
		.three-column-list div > ul,
		.three-column-list-block {columns: 3 !important;} 
	}
	

	/* - dashboard style, page level only, apply to any first level */
	.two-column-grid-list div > ul 
		{ display: grid; grid-column-gap:3em; grid-template-columns:repeat(auto-fit,minmax(45%,1fr));}
	.three-column-grid-list div > ul
		{ display: grid; grid-column-gap:3em; grid-template-columns:repeat(auto-fit,minmax(28%,1fr));}
